#expenseTable th,
td {
    text-align: center;
    vertical-align: middle;
}
.hero {
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/money_dark1.jfif    );
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    height: 40vh;
    width: 100%;
}
